/* ===================================
   1. Global CSS
====================================== */

.hide-elementor-block {
    display: none;
}

.column-100hv {
    height: 100vh;
}

@media screen and (min-width: 767px) {

    .home1-left-part {
        width: 510px !important;
    }

    .home1-right-part {
        width: calc(100% - 510px) !important;
    }

}


/* ===================================
   2. Image PopUp (PreetyPhoto) CSS
====================================== */

div.pp_default .pp_loaderIcon {
    display: none !important;
}

div.pp_default a.pp_arrow_previous {
    background-image: url(/nav_left.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    font-size: 0;
    line-height: 0;
    text-indent: -99999999px;
    transition: transform .3s ease;
}

div.pp_default a.pp_arrow_next {
    background-image: url(/nav_right.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0;
    line-height: 0;
    text-indent: -99999999px;
    transition: transform .3s ease;
}

div.pp_default a.pp_arrow_previous:hover {
    transform: translateX(-5px);
}

div.pp_default a.pp_arrow_next:hover {
    transform: translateX(5px);
}

div.pp_default .pp_close {
    background-image: url(../close.png);
    background-size: 30px 30px;
    margin-top: 5px;
    text-indent: -99999999px;
    font-size: 0;
    line-height: 0;
}

div.pp_default .pp_next:hover {
    background: url(/nav_right.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 20px;
}

div.pp_default .pp_previous:hover {
    background: url(/nav_left.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 20px;
}

div.pp_default .pp_nav .currentTextHolder {
    padding: 0 0 0 20px;
    color: #fff;
}

div.pp_default .pp_content_container .pp_details {
    margin-top: 30px !important;
    z-index: 3;
}

div.pp_default .pp_description {
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    top: -30px;
    margin: 0;
    color: #fff;
    font-weight: 400;
}


/* ===================================
    3. Timeline CSS
====================================== */

ul.timeline-holder {
    margin: 0;
    padding: 0 0 0 55px;
    -webkit-transform: translateZ(0);
}

li.timeline-event {
    margin: 0 0 42px 60px;
    position: relative;
    padding-top: 5px;
    list-style: none;
    transition: .3s;
}

li.timeline-event:hover {
    color: #faefff;
}

li.timeline-event:before {
    content: "";
    width: 3px;
    height: calc(100% - 20px);
    position: absolute;
    background-color: #f37b83;
    left: -30px;
    top: 51px;
}

li.timeline-event:last-child:before {
    display: none;
}

li.timeline-event:last-child {
    margin-bottom: 0;
}

li.timeline-event span.timeline-circle:after {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: -8px;
    top: 11px;
    border-radius: 90%;
    background-color: #f37b83;
    opacity: 0;
    transition: opacity .3s;
}

li.timeline-event:hover span.timeline-circle:after {
    opacity: 1;
}

span.timeline-circle {
    position: absolute;
    top: 0;
    left: -30px;
}

span.timeline-circle:before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 90%;
    border: 3px solid #f37b83;
    position: absolute;
    left: -16px;
    top: 3px;
    z-index: 1;
    transition: .3s;
}

.timeline-event-date {
    position: absolute;
    left: -115px;
    top: 10px;
    transition: .3s;
    color: #f37b83;
    font-weight: 700;
}

li.timeline-event:hover .timeline-event-date {
    transform: translateX(-10px);
}

.timeline-event-content {
    line-height: 160%;
    text-align: left;
    margin-left: 50px;
}

img.my-signature {
    padding-top: 30px;
    width: 215px;
}


/* ===================================
    4. Skills Section CSS
====================================== */

.skill-circle-holder>div:last-of-type {
    margin-right: 0;
}

.skill-circle {
    display: inline-block;
    margin-right: 6%;
    width: 20%;
    max-width: 254px;
}

.skill-circle-wrapper canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
}

span.skill-circle-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 700;
    color: #f37b83;
    letter-spacing: -1px;
}

p.skill-circle-text {
    font-size: 22px;
    color: #f37b83;
    text-align: center;
    padding-top: 20px;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.skills-holder {
    position: relative;
}

.skills-holder>div:last-of-type {
    margin-bottom: 0;
}

.skill-holder {
    margin-bottom: 20px;
    position: relative;
}

.skill-holder:after {
    clear: both;
    display: block;
    content: "";
}

.skill-percent {
    font-size: 45px;
    line-height: 100%;
    font-weight: 700;
    width: 100px;
    float: right;
    color: #554247;
    letter-spacing: -1px;
}

.skill {
    width: 100%;
    height: 12px;
    background-color: #554247;
    margin-bottom: 15px;
}

.skill-text {
    float: left;
    width: calc(100% - 145px);
    margin-top: 25px;
}

.skill-fill {
    width: 10%;
    height: 22px;
    background-color: #f37b83;
    transform: translateY(-5px);
    transition: width .7s;
}

.skill-text span {
    font-size: 22px;
    line-height: 35px;
}

/* ===================================
    5. Portfolio CSS
====================================== */

.category-filter {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
    width: 25px;
    height: 15px;
    cursor: pointer;
    transition: all .5s ease;
}

.category-filter.hide {
    opacity: 0;
    transform: translateY(70px);
}

.category-filter-list>div {
    margin-bottom: 5px;
}

.category-filter-list>div:last-of-type {
    margin-bottom: 0;
}

.category-filter-icon {
    width: 20px;
    height: 3px;
    background-color: #f37b83;
    float: right;
    transition: width .3s ease;
}

.category-filter:hover .category-filter-icon,
.category-filter.filter-open .category-filter-icon {
    width: 24px;
}

.category-filter-icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background-color: #f37b83;
    transform: translate(-5px, 8px);
    transition: transform .3s ease;
}

.category-filter:hover .category-filter-icon:after,
.category-filter.filter-open .category-filter-icon:after {
    transform: translate(4px, 8px);
}

.category-filter-icon:before {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background-color: #f37b83;
    transform: translate(10px, 11px);
    transition: transform .3s ease;
}

.category-filter:hover .category-filter-icon:before,
.category-filter.filter-open .category-filter-icon:before {
    transform: translate(14px, 11px);
}

.category-filter-list {
    background-color: #362b2e;
    padding: 24px 20px;
    width: 110px;
    display: none;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 13px;
    line-height: 22px;
    color: #faefff;
    z-index: 1;
    cursor: pointer;
    transition: opacity .5s, transform .5s;
}

.category-filter-list.hide {
    transform: translateY(70px);
    opacity: 0;
}

.category-filter-list .button.is-checked {
    color: #f37b83;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.grid {
    width: calc(100% + 60px);
    margin-left: -30px;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    list-style: none;
}

.grid-item {
    float: left;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border: 30px solid transparent;
    width: calc(100% / 3);
    transition: opacity .3s;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
}

.grid-sizer,
.grid-item {
    width: calc(100% / 3);
}

.grid-item.p-one {
    width: 100%;
}

.grid-item.p-one-third {
    width: calc(100% / 3);
}

.grid-item.p-two-third {
    width: calc(200% / 3);
}

.portfolio-text-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 20px;
    background-color: #f37b83;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

.grid-item a.item-link:hover .portfolio-text-holder,
.grid-item.portfolio-content-loading a.item-link .portfolio-text-holder {
    transform: translateX(0);
}

#portfolio-grid.portfoio-items-mask .grid-item {
    opacity: 0.2;
}

.grid-item.portfolio-content-loading {
    opacity: 1 !important;
}

.portfolio-text-wrapper {
    position: absolute;
    left: 30px;
    bottom: 0;
}

.portfolio-text {
    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
    color: #faefff;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.portfolio-cat {
    font-size: 15px;
    color: #faefff;
    line-height: 100%;
}

.portfolio-cat:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #faefff;
    vertical-align: 4px;
    margin-right: 5px;
}

.portfolio-load-content-holder {
    opacity: 0;
    transform: translateY(70px);
    transition: all .5s ease;
}

.portfolio-load-content-holder.show {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-load-content-holder.show.viceversa {
    opacity: 0;
    transform: translateY(70px);
}

.portfolio-content-wrapper {
    display: none;
}

.portfolio-content-wrapper.show {
    display: block;
}

.close-icon {
    background-image: url(/close-left-arrow.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: rgb(243, 123, 131);
    border-radius: 5px;
    margin-bottom: 20px;
    background-size: 70px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.close-icon:hover {
    background-position: -5px 0;
}

#portfolio-grid {
    transition: all .5s ease;
    opacity: 1;
    transform: translateY(0px);
}

#portfolio-grid.hide {
    opacity: 0;
    transform: translateY(70px);
}

.grid-item a.item-link.portfolio-content-loading:after,
.ajax-portfolio.portfolio-content-loading .portfolio-text-holder {
    opacity: 1;
}

.portfolio-content {
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
}


/* ===================================
    6. Responsive CSS
====================================== */

.owl-carousel .owl-item {
    width: 100%;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
    line-height: 0;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 0;
    background-color: #faefff;
    transition: all .3s ease;
    width: 18px;
    height: 18px;
    border-radius: 90%;
}

.owl-theme .owl-dots .owl-dot {
    border-radius: 90%;
    transition: all .3s ease;
    margin: 4px;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #faefff;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #f37b83;
}


/* ===================================
    7. Responsive CSS
====================================== */

.music-waves {
    display: inline-block;
    cursor: pointer;
}

.music-waves .relative {
    height: 30px;
    width: 54px;
}

.music-waves span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    position: absolute;
    -webkit-animation: music-waves 1.5s infinite ease-in-out;
    animation: music-waves 1.5s infinite ease-in-out;
}

.music-waves span:nth-child(2) {
    left: 11px;
    animation-delay: 0.2s;
}

.music-waves span:nth-child(3) {
    left: 22px;
    animation-delay: 0.4s;
}

.music-waves span:nth-child(4) {
    left: 33px;
    animation-delay: 0.6s;
}

.music-waves span:nth-child(5) {
    left: 44px;
    animation-delay: 0.8s;
}

@-webkit-keyframes music-waves {
    0% {
        height: 15px;
    }

    10% {
        height: 5px;
    }

    20% {
        height: 10px;
    }

    30% {
        height: 22px;
    }

    40% {
        height: 18px;
    }

    50% {
        height: 27px;
    }

    60% {
        height: 16px;
    }

    70% {
        height: 9px;
    }

    80% {
        height: 5px;
    }

    90% {
        height: 10px;
    }

    100% {
        height: 17px;
    }
}

@keyframes music-waves {
    0% {
        height: 15px;
    }

    10% {
        height: 5px;
    }

    20% {
        height: 10px;
    }

    30% {
        height: 22px;
    }

    40% {
        height: 18px;
    }

    50% {
        height: 27px;
    }

    60% {
        height: 16px;
    }

    70% {
        height: 9px;
    }

    80% {
        height: 5px;
    }

    90% {
        height: 10px;
    }

    100% {
        height: 17px;
    }
}

.music-waves-text {
    margin-bottom: 0;
}


/* ===================================
    8. Responsive CSS
====================================== */

@media screen and (max-width: 1599px) {

    .grid {
        width: calc(100% + 4vw);
        margin-left: -2vw;
    }

    .grid-item {
        border-width: 1vw;
    }

    .category-filter {
        right: -1vw;
    }

}

@media screen and (max-width: 1440px) {

    span.skill-circle-num,
    .skill-percent {
        font-size: 35px;
    }

    .skill-percent {
        margin-top: 11px;
    }

}

@media screen and (max-width: 1360px) {

    .portfolio-content .one-half {
        margin-bottom: 30px;
    }

    .skill-holder {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 1020px) {

    .grid {
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .category-filter {
        right: 0;
    }

    .grid-sizer,
    .grid-item {
        width: 50% !important;
        border-width: 15px;
    }

    .close-icon {
        width: 60px;
        height: 60px;
        background-size: 60px;
    }

    .skill-circle-holder {
        text-align: center;
    }

    .skill-circle-holder>div:nth-of-type(2n) {
        margin-right: 0 !important;
    }

    .skill-circle {
        width: auto;
        width: 44%;
        margin-bottom: 40px !important;
        margin-right: 10% !important;
    }

    .skill-circle-holder>div:nth-last-of-type(-n+2) {
        margin-bottom: 0 !important;
    }

    li.timeline-event {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767px) {

    #portfolio-wrapper {
        margin-top: 30px;
    }

    .category-filter-list {
        top: 0;
    }

    .grid {
        width: 100%;
        margin: 0;
    }

    .category-filter {
        top: -30px;
    }

    .grid-sizer,
    .grid-item {
        width: 100% !important;
    }

    .grid-item {
        border: 0;
        margin-bottom: 30px;
    }

    #portfolio-grid>div:last-of-type {
        margin-bottom: 0;
    }

    .timeline-event-content {
        margin-left: 10px;
    }

    li.timeline-event {
        margin-left: 30px;
    }

    ul.timeline-holder {
        padding-left: 70px;
    }

    .timeline-event-date {
        left: -100px;
    }

    .skill-holder {
        margin-bottom: 35px;
    }

    .skills-holder.sec-skills-holder {
        margin-top: -25px;
    }

    .skill-circle-holder {
        display: block !important;
    }

    .skill-text {
        width: 100%;
    }

    .skill-percent {
        position: absolute;
        top: -30px;
    }

    .skill {
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 650px) {

    .skill-circle-holder>div:nth-of-type(n) {
        display: table !important;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .skill-circle-holder>div:nth-last-of-type(2) {
        margin-bottom: 40px !important;
    }

    .skill-circle-wrapper canvas {
        max-width: none;
        max-height: none;
    }

    .simple-image-slider-pagination.swiper-pagination {
        margin-bottom: 15px;
    }

}


.doc-loader {
    background-color: #232329 !important;
}

body.ccb-css {
    background-color: #2e2e38;
}

body.ccb-css,
.ccb-css .widget a,
.ccb-css .search-field {
    color: #ffffff;
}

.ccb-css .search-field::-webkit-input-placeholder {
    color: #ffffff;
}

.ccb-css .search-field:-ms-input-placeholder {
    color: #ffffff;
}

.ccb-css .search-field::placeholder {
    color: #ffffff;
}

.ccb-css.single .nav-links:before {
    background-color: #ffffff;
}

body.ccb-css a,
.ccb-css .global-color,
.ccb-css .timeline-event-date,
.ccb-css .category-filter-list .button.is-checked,
.ccb-css blockquote.wp-block-quote,
.ccb-css h1,
.ccb-css h2,
.ccb-css h3,
.ccb-css h4,
.ccb-css h5,
.ccb-css h6,
.ccb-css .comments-holder .comment-author-date-replay-holder,
.ccb-css .more-posts,
.ccb-css .no-more-posts,
.ccb-css .more-posts-loading,
.ccb-css .is-style-outline .wp-block-button__link {
    color: #6db363;
}

.ccb-css .global-background-color,
.ccb-css .menu-holder,
.ccb-css .img-caption,
.ccb-css li.timeline-event:before,
.ccb-css li.timeline-event span.timeline-circle:after,
.ccb-css .skill-fill,
.ccb-css .category-filter-icon,
.ccb-css .category-filter-icon:after,
.ccb-css .category-filter-icon:before,
.ccb-css .portfolio-text-holder,
.ccb-css .owl-theme .owl-dots .owl-dot.active span,
.ccb-css .close-icon,
.ccb-css .comments-holder ul.children:before,
.ccb-css .wp-block-button__link {
    background-color: #6db363;
}

.ccb-css span.timeline-circle:before {
    border-color: #6db363;
}

.ccb-css .current-num,
.ccb-css .icon-scroll,
.ccb-css .sm-clean a span.sub-arrow {
    color: #60a058;
}

.ccb-css .icon-scroll:before,
.ccb-css .sm-clean a:after {
    background-color: #60a058;
}

.ccb-css .current-big-num {
    -webkit-text-stroke-color: #60a058;
}

.ccb-css .total-pages-num,
.ccb-css .comment-date,
.ccb-css .archive-title h1,
.ccb-css li.timeline-event:hover,
.ccb-css .category-filter-list,
.ccb-css .portfolio-text,
.ccb-css .portfolio-cat {
    color: #ffffff;
}

.ccb-css #toggle:before,
.ccb-css #toggle:after,
.ccb-css #toggle .menu-line,
.ccb-css .pagination-div:after,
.ccb-css .portfolio-cat:before,
.ccb-css .owl-theme .owl-dots .owl-dot span,
.ccb-css .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
}

.ccb-css .header-holder,
.ccb-css .icon-scroll:after {
    background-color: #232329;
}