@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #e06a72;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #181616;
  border-radius: 20px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.d-flex {
  display: flex;
}

.text-light-green {
  color: #59bf4a;
}

.text-b {
  color: royalblue;
}

.text-light-orange {
  color: #f37b83;
}

.text-justify {
  text-align: justify !important;
}

.text-center {
  text-align: center !important;
}

.cursor-none {
  cursor: none;
}

.w20 {
  width: 20;
  display: inline;
}

.custom-skill-circle {
  display: inline-block;
  margin-right: 6%;
  width: 20%;
  max-width: 254px;
}

.mt-15 {
  margin-top: 15px;
}

.doc-loader img {
  height: 150px;
  width: 150px;
}

/* Gray Scale */
.p_one_third a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.p_one_third a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.bg-light-dark{
  background-color: #161414e8;
}

.rounded-full {
  border-radius: 9999px !important; 
}

.custom-image-shadow{
  box-shadow: 0px 0px 30px 10px #feaeb382 !important;
  border-radius: 100% !important;
  z-index: 10;
}

.fontComic {
  font-family: 'Comic Sans MS'
}

.font-18{
  font-size: 18px !important;
}

 div.circle {
  height: 190px;
  width: 200px;
  background-color: #ce8b908c;
  border-style: double;
  border-width: 37px;
  border-radius: 100%;
  position: relative;
  top: -92px;
  left: 0px;
  z-index: 1;
  transition: height 1s ease, width 1s ease;
  transform: translate(-50%,-50%);
  border-color: rgb(223, 182, 182);
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 1s linear 1s infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}  

@keyframes ripple{
  0% {transform:scale(1.4); opacity:0}
  50% {transform:scale(1.65); opacity:0.6;}
  100% {transform:scale(1.9); opacity:0;}
} 


/** ABOUT */
.outer-rounded-box{
  border-bottom-left-radius: 3000% 500%;
  border-bottom-right-radius: 3000% 500%;
  border-top-left-radius: 2000% 500%;
  border-top-right-radius: 2000% 500%;
  background-color: #483435b8;
  box-shadow: 0px -7px 20px 5px #0e0d0dad;
}

.--top140{
  top: -140px;
}

.social-link-icon-holder{
    position: relative;
    padding:0px 20px 20px 20px;
    justify-content: space-between;
}

.social-link-icon{
  width: 40px;
}

.download-button-custom{
  fill: #ffffff;
  color: #ffffff;
  background-color: #da5d65;
  border-radius: 50px 50px 50px 50px;
  padding: 22px 40px 22px 40px;
}